@import url(//fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic);
@import url(//fonts.googleapis.com/css?family=Roboto:400,300,500,400italic,700,900);

body {
	-webkit-transition: opacity 0.4s;
	-moz-transition: opacity 0.4s;
	-ms-transition: opacity 0.4s;
	-o-transition: opacity 0.4s;
	transition: opacity 0.4s;
	font-size: 16px;
	opacity: 1;
	text-shadow: none !important;
}

.ui-bar-a,
.ui-page-theme-a .ui-bar-inherit,
html .ui-bar-a .ui-bar-inherit,
html .ui-body-a .ui-bar-inherit,
html body .ui-group-theme-a .ui-bar-inherit {
	text-shadow: none;
}

.ui-overlay-a,
.ui-page-theme-a,
.ui-page-theme-a .ui-panel-wrapper {
	text-shadow: none;
	color: white;
}

.ui-page-theme-a .ui-btn,
html .ui-bar-a .ui-btn,
html .ui-body-a .ui-btn,
html body .ui-group-theme-a .ui-btn,
html head + body .ui-btn.ui-btn-a,
.ui-page-theme-a .ui-btn:visited,
html .ui-bar-a .ui-btn:visited,
html .ui-body-a .ui-btn:visited,
html body .ui-group-theme-a .ui-btn:visited,
html head + body .ui-btn.ui-btn-a:visited {
	color: #1e1e1e;
	background-color: #d6a839;
	border-style: none;
	text-shadow: none;
}

.ui-collapsible.ui-collapsible-collapsed {
	background-color: #d6a839;
}

.ui-page-theme-a .ui-btn, html .ui-bar-a .ui-btn, html .ui-body-a .ui-btn, html body .ui-group-theme-a .ui-btn, html head + body .ui-btn.ui-btn-a, .ui-page-theme-a .ui-btn:visited, html .ui-bar-a .ui-btn:visited, html .ui-body-a .ui-btn:visited, html body .ui-group-theme-a .ui-btn:visited, html head + body .ui-btn.ui-btn-a:visited {
	color: #ffffff;
}

.ui-collapsible.ui-collapsible-collapsed, .ui-page-theme-a .ui-body-inherit.ui-collapsible-content, .ui-collapsible.ui-collapsible-collapsed.ui-collapsible h3 a {
	background-color: #d6a839;
}

body p,
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body blockquote,
body a,
body button {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

body.nd2-ready {
	opacity: 1;
}

body,
input,
select,
textarea,
button,
.ui-btn,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "RobotoDraft", "Roboto", "Helvetica Neue", sans-serif;
	font-weight: 400;
	text-transform: uppercase;
}

h1 {
	font-size: 56px;
	line-height: 1.2em;
	font-weight: 400;
}

h2 {
	font-size: 34px;
	line-height: 1.2em;
	font-weight: 400;
}

h3 {
	font-size: 24px;
	line-height: 1.2em;
	font-weight: 400;
}

h4 {
	font-size: 20px;
	line-height: 1.2em;
	font-weight: 500;
}

h5 {
	font-size: 16px;
	line-height: 1.2em;
	font-weight: 400;
}

h6 {
	font-size: 14px;
	line-height: 1.2em;
	font-weight: 400;
}

p {
	font-size: 16px;
	line-height: 1.2em;
}

.nd2-display-4 {
	font-size: 112px;
	line-height: 1.2em;
	font-weight: 100;
	display: block;
}

.nd2-display-3 {
	font-size: 56px;
	line-height: 1.2em;
	font-weight: 400;
	display: block;
}

.nd2-display-2 {
	font-size: 45px;
	line-height: 1.2em;
	font-weight: 400;
	display: block;
}

.nd2-display-1 {
	font-size: 34px;
	line-height: 1.2em;
	font-weight: 400;
	display: block;
}

.nd2-headline {
	font-size: 24px;
	line-height: 1.2em;
	font-weight: 400;
	display: block;
}

.nd2-title {
	font-size: 20px;
	line-height: 1.2em;
	font-weight: 500;
	display: block;
}

.nd2-subhead {
	font-size: 16px;
	line-height: 1.2em;
	font-weight: 400;
	display: block;
}

.swiper-container {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	/* Center slide text vertically */

	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.swiper-slide img {
	width: 100%;
}

.ui-header,
.ui-footer {
	background-color: #d6a839;
	border-style: none;
	position: relative;
	right: 0;
	left: 0;
	bottom: 0;
}

.ui-bar-a,
.ui-page-theme-a .ui-bar-inherit,
html .ui-bar-a .ui-bar-inherit,
html .ui-body-a .ui-bar-inherit,
html body .ui-group-theme-a .ui-bar-inherit {
	background-color: #d6a839;
}

.ui-collapsible-heading .ui-btn {
	text-align: center;
}

.ui-page-theme-a .ui-btn {
	background-color: #d6a839;
}

.ui-collapsible.ui-collapsible-collapsed,
.ui-page-theme-a .ui-body-inherit.ui-collapsible-content,
.ui-collapsible.ui-collapsible-collapsed.ui-collapsible h3 a {
	background-color: #1e1e1e;
}

.ui-mobile .ui-page {
	background-color: #1e1e1e;
}

.ui-collapsible-heading,
.ui-collapsible-heading > .ui-btn {
	border: none;
}

.ui-body-a, .ui-page-theme-a .ui-body-inherit, html .ui-bar-a .ui-body-inherit, html .ui-body-a .ui-body-inherit, html body .ui-group-theme-a .ui-body-inherit, html .ui-panel-page-container-a {
color: white;
text-shadow: none;
background-color: #d6a839;
}